*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, sans-serif;
}
.myslides{
    display: none;
    height: 100vh;
}
img{
    vertical-align: middle;
    height: 100%;
}
.slideshow-container{
    max-width: 80%;
    position: relative;
    margin: auto;
}
@media (max-width:500px) {
    .slideshow-container{
        max-width: 100%;
    }
}
.prev  , .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 0 3px 3px 0;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover  , .next:hover{
    background-color: rgba(0, 0, 0, 0.503);
}
.numbertext{
    position: absolute;
    top: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
}
.text{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
}
@media (max-width:500px) {
    .numbertext , .text{
        font-size: 14px;
    }
}
.dot{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin: 0 2px;
}
.active , .dot:hover{
    background-color: #717171;
}
/* @keyframes fade {
    from {opacity:0.4};
    to{opacity:1};
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
} */